.merchant{
    background-color: white;
    color: black;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
}
/* .merchantList{
    color:#2535A1;
    font-weight: bold;
} */

.textm{
    color: white;
}